.actiors__card {
  width: 318px;
  height: 446px;
  position: relative;
  border-radius: 4px;
  border: 2px solid #f0c167;
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111 84.87%);
}

.actiors__card img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.actiors__card span {
  position: absolute;
  left: 16px;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  top: 366px;
}

/*  375px , 576px,  768px, 992px, and 1200px */

@media screen and (min-width: 375px) and (max-width: 576px) {
  .actiors__card {
    width: 100%;
    max-width: 350px;
    height: 400px;
    margin: 0 auto;
  }

  .actiors__card span {
    font-size: 16px;
    line-height: 24px;
    top: 340px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .actiors__card {
    width: 100%;
    max-width: 350px;
    height: 400px;
    margin: 0 auto;
  }

  .actiors__card span {
    font-size: 16px;
    line-height: 24px;
    top: 340px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .actiors__card {
    width: 100%;
    max-width: 350px;
    height: 400px;
    margin: 0 auto;
  }

  .actiors__card span {
    font-size: 16px;
    line-height: 24px;
    top: 340px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1049.9px) {
  .actiors__card {
    width: 100%;
    max-width: 350px;
    height: 430px;
    margin: 0 auto;
  }

  .actiors__card span {
    font-size: 16px;
    line-height: 24px;
    top: 360px;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1200px) {
  .actiors__card {
    width: 100%;
    max-width: 300px;
    /* height: 430px; */
    margin: 0 auto;
  }

  .actiors__card span {
    font-size: 17px;
    line-height: 24px;
    top: 370px;
  }
}

@media screen and (min-width: 1201px) {
  .actiors__card {
    width: 100%;
    max-width: 300px;
    /* height: 430px; */
    margin: 0 auto;
  }

  .actiors__card span {
    font-size: 17px;
    line-height: 24px;
    top: 370px;
  }
}
