.programm__section {
  padding: 14rem 0;
  background: var(--clr-black-dark);
}

.programm__section__flex {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  justify-content: space-between;
}
.programm__section__flex button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--clr-primary);
  background: var(--clr-grey-10);
  padding: 12px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 24px;
  color: var(--clr-grey-1);
}

.program__section__grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2.4rem;
}

/*  375px , 576px,  768px, 992px, and 1200px */

@media screen and (min-width: 375px) and (max-width: 576px) {
  .programm__section {
    padding: 52px 0;
  }

  .programm__section__flex {
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 4rem;
  }
  .programm__section__flex button {
    gap: 24px;
    padding: 10px;
    font-size: 16px;
  }

  .program__section__grid {
    grid-template-columns: repeat(1, auto);
    gap: 2.4rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768.9px) {
  .programm__section {
    padding: 60px 0;
  }

  .programm__section__flex {
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 4rem;
  }
  .programm__section__flex button {
    gap: 24px;
    padding: 10px;
    font-size: 16px;
  }

  .program__section__grid {
    grid-template-columns: repeat(2, auto);
    gap: 2.4rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .programm__section {
    padding: 70px 0;
  }

  .programm__section__flex {
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 4rem;
  }
  .programm__section__flex button {
    gap: 24px;
    padding: 10px;
    font-size: 16px;
  }

  .program__section__grid {
    grid-template-columns: repeat(2, auto);
    gap: 2.4rem;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .programm__section {
    padding: 70px 0;
  }

  .programm__section__flex button {
    gap: 24px;
    padding: 10px;
    font-size: 16px;
  }

  .program__section__grid {
    grid-template-columns: repeat(3, auto);
    gap: 2.4rem;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
}
