.watched__film__section {
  background: var(--clr-black-dark);
  padding: 140px 0;
  overflow-x: hidden;
}
.watched__film__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.watched__film__flex select {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 24px;
  padding: 12px;
  color: var(--clr-grey-3);
  border-radius: 8px;
  border: 1px solid #ababab;
  background: #181818;
}

.watched__film__card {
  width: 318px;
  height: 446px;
  border-radius: 4px;
  overflow: hidden;
}
.watched__film__card img {
  width: 100%;
  height: 100%;
}

/*  375px , 576px,  768px, 992px, and 1200px */

@media screen and (min-width: 375px) and (max-width: 450px) {
  .watched__film__section {
    padding: 56px 0;
  }
  .watched__film__flex {
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 24px;
  }

  .watched__film__flex select {
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
  }

  .watched__film__card {
    width: 100%;
    max-width: 200px;
    height: 234px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
  }
}
@media screen and (min-width: 451px) and (max-width: 576px) {
  .watched__film__section {
    padding: 60px 0;
  }
  .watched__film__flex {
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 24px;
  }

  .watched__film__flex select {
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
  }

  .watched__film__card {
    width: 100%;
    max-width: 240px;
    height: 245px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
  }
}
@media screen and (min-width: 577px) and (max-width: 768.9px) {
  .watched__film__section {
    padding: 65px 0;
  }
  .watched__film__flex {
    margin-bottom: 35px;
  }

  .watched__film__flex select {
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
  }

  .watched__film__card {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .watched__film__section {
    padding: 70px 0;
  }
  .watched__film__flex {
    margin-bottom: 40px;
  }

  .watched__film__flex select {
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
  }

  .watched__film__card {
    width: 100%;
    max-width: 290px;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
  }
}

@media screen and (min-width: 993px) and (max-width: 1049.9px) {
  .watched__film__section {
    padding: 90px 0;
  }

  .watched__film__flex select {
    padding: 11px;
  }

  .watched__film__card {
    width: 100%;
    max-width: 310px;
    height: 340px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1200px) {
  .watched__film__section {
    padding: 100px 0;
  }
  .watched__film__flex select {
    padding: 11px;
  }
  .watched__film__card {
    width: 100%;
    max-width: 310px;
    height: 340px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .watched__film__section {
    padding: 100px 0;
  }

  .watched__film__card {
    width: 100%;
    max-width: 310px;
    height: 340px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1301px) {
  .watched__film__card {
    width: 100%;
    max-width: 320px;
    height: 350px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
  }
}
